//- layout.pug
html
  head
    title Lost NYC - Admin
    link(rel='stylesheet', href='/admin.css')
  body
    h1
      a(href='/auth/profile') Lost NYC Admin
    block content
    include ./apiKey.pug
    script(src="/admin.js")