<script>
  import { modalItem, selectedMemory } from "../../stores.js";
  
  export let memoryTimestamp;
  
  function returnToPlace() {
    modalItem.upate(n => 'selectedPlace');
  }
  
  function closeModal() {
    modalItem.update(n => 'selectedPlace');
    selectedMemory.update(n => null);   
  }

</script>

<button class="text-button close-modal" on:click={closeModal}>
  Back to Place
</button>

<div id="memory">
  <p>{$selectedMemory.body}</p>
   - {#if $selectedMemory.author}{$selectedMemory.author}{:else}Anonymous{/if}{memoryTimestamp($selectedMemory)}
</div>