<script>
  import Button from "../Button.html";
  import fetchOptions from "../../helpers/fetchOptions.js";

  export let closeForm;

  import { places, selectedPlace, modalItem } from "../../stores.js";
  
  var memoryInput = {placeId: $selectedPlace.placeId};

  async function submitForm() {
    const url = "/api/memories/new";
    const options = Object.assign(
      { body: JSON.stringify(memoryInput) },
      fetchOptions.post
    );
    var response = await fetch(url, options);
    const responseJson = await response.json();
    addMemoryToPlace(responseJson);
    
    // Back to place
    modalItem.update(n => 'selectedPlace');
  }
  
  function addMemoryToPlace(memory) {
    selectedPlace.update(n => {
      n.memories.push(memory);
      return n;
    });

  }
  
  
</script>

<div id="new-memory-form" class="form">
  <h1>
    New Memory of {$selectedPlace.name}
  </h1>
  <form>
    <textarea bind:value={memoryInput.body} placeholder="What do you remember about {$selectedPlace.name}"></textarea>
    <label>Author: (Optional)</label>
    <input bind:value={memoryInput.author} type="text" autocomplete="off" />
    <Button label={'Save'} type={'create'} onClick={submitForm} />
    <Button label={'Cancel'} type={'cancel'} onClick={closeForm} />
  </form>
</div>

<style>
</style>
