<script>
  import Button from "../Button.html";
  import fetchOptions from "../../helpers/fetchOptions.js";

  export let closeForm;

  import { places, selectedPlace, modalItem } from "../../stores.js";
  
  var memoryInput = {};

  async function submitForm() {
    const url = "/api/memories/new";
    const options = Object.assign(
      { body: JSON.stringify(memoryInput) },
      fetchOptions.post
    );
    var response = await fetch(url, options);
    const responseJson = await response.json();
    addMemoryToPlace(responseJson);
    
    // Switch this to go back to selected place view
    modalItem.update(n => null); // Close form
    return responseJson;
  }
  
  function addMemoryToPlace(memory) {
    selectedPlace.update(n => {
      n.memories.push(memory);
      return n;
    });
  }
  
  
</script>

<div id="new-memory-form" class="form">
  <h1>
    New Memory of {$selectedPlace.name}
  </h1>
  <form>
    <input bind:value="{memoryInput.body}" type="text" autocomplete="off" preview="What do you remember about {$selectedPlace.name}"/>
    <label>Author: (Optional)</label>
    <input bind:value="{memoryInput.body}" type="text" autocomplete="off" />
    <Button label={'Cancel'} type={'cancel'} onClick={closeForm} />
    <Button label={'Save'} type={'create'} onClick={submitForm} />
  </form>
</div>

<style></style>
