<script>
  import Button from "../Button.html";
  import fetchOptions from "../../helpers/fetchOptions.js";

  export let closeForm;
  export let drawPlace;

  import { places, selectedPlace, message, modalItem } from "../../stores.js";
  import messages from "../../helpers/messages.js";
  import categories from "../../helpers/placeCategories.js";

  let placeInput = { state: "NY" };
  let warning;
  let otherCategory;

  async function submitForm(event) {
    event.target.blur();
    
    // Check for required fields
    if (!placeInput.name || !placeInput.address) {
      warning = "Please add the name and address of the place."
      return;
    }
    
    // Fill City if left blank
    if (!placeInput.city) {
      placeInput.city = "DEFAULT_CITY";
    }
    
    // Check for other category
    if (placeInput.category === 'Other' && otherCategory) {
      placeInput.category = otherCategory;
    }
    
    const url = "/api/places/new";
    const options = Object.assign(
      { body: JSON.stringify(placeInput) },
      fetchOptions.post
    );
    var response = await fetch(url, options);
    const newPlace = await response.json();
    
    if (newPlace.error) {
      modalItem.update(n => 'message');
      message.update(n => `
        <h2>Error saving place</h2>
        <p>This address was not able to be saved. Please double check it and try again.</p>
      `)
      return
    }
    
    addPlace(newPlace);
    // If new place was auto-flagged
    if (newPlace.flags && newPlace.flags[0]) {
      const flag = newPlace.flags[0]
      if (flag.reason && flag.reason === "Inappropriate Content") {
        message.update(n => messages.inappropriateContent)
      } else if (flag.reason && flag.reason === "Default Location") {
        message.update(n => messages.defaultAddress)
      } else {
        message.update(n => messages.other)
      }
      modalItem.update(n => 'message');
    } else {
      // Don't ask db for place info again
      newPlace.sync = false;
      // Go to new place
      selectedPlace.update(n => newPlace);
      modalItem.update(n => 'selectedPlace');
    }
  }
  
  function addPlace(place) {
    places.update(n => {
      n.push(place);
      return n;
    });
    drawPlace(place, true);
  }
  
  
</script>
<button class="text-button close-modal" on:click={closeForm}>
  Close
</button>
<div id="new-place-form" class="form">
  <h1>
    New Place
  </h1>
  {#if warning}
  <p class="warning">
    {warning}
  </p>
  {/if}
  <form autocomplete="off">
    <label>Place Name:</label>
    <input bind:value="{placeInput.name}" type="text" autocomplete="off" />
    <label>Address:</label>
    <input bind:value="{placeInput.address}" type="text" autocomplete="off" />
    <label>City:</label>
    <input bind:value="{placeInput.city}" type="text" autocomplete="off" />
    <label>State:</label>
    <input bind:value="{placeInput.state}" type="text" autocomplete="off" />
    <label>Zip:</label>
    <input bind:value="{placeInput.zip}" type="text" autocomplete="off" />
    <label>Year Opened:</label>
    <input
      bind:value="{placeInput.openYear}"
      min="1800"
      max="2020"
      type="number"
      autocomplete="off"
    />
    <label>Date Closed:</label>
    <input bind:value="{placeInput.closeDate}" type="date" autocomplete="off" />
    <label>Type of Place:</label>
    <select bind:value={placeInput.category}>
      {#each categories as category}
        <option value={category}>
          {category}
        </option>
      {/each}
    </select>
    {#if placeInput.category === 'Other'}
      <label>Type of Place (Other):</label>
      <input bind:value="{otherCategory}" type="text" autocomplete="off" />
    {/if}
    <Button label={'Save'} type={'create'} onClick={submitForm} />
    <Button label={'Cancel'} type={'cancel'} onClick={closeForm} />
  </form>
</div>

<style>
</style>
