<script>
  import { modalItem, selectedPhoto  } from "../../stores.js";
  
  function returnToPlace() {
    modalItem.update(n => 'selectedPlace');
  }

</script>

<button class="text-button close-modal" on:click={returnToPlace}>
  Back to Place
</button>

<div id="photo-container">
  
  <img src="{$selectedPhoto.url}" class="view-photo" alt="A photo of this place." />
  
  <button class="text-button" on:click={returnToPlace}>
  Done
  </button>
  
</div>

<style>
  .view-photo {
    width: 100%;
    height: auto;
    margin-top: 20px;
    overflow: scroll;
  }

</style>