<script>
  import { beforeUpdate } from "svelte";
  import { modalItem, selectedPlace, selectedMemory } from "../../stores.js";

  import Button from "../Button.html";

  export let closeModal;
  export let memoryTimestamp;
  let closeYear;

  beforeUpdate(async () => {
    console.log("beforeUpdate");
    
    // Get place details:
    if (!$selectedPlace.name) {
      const res = await fetch(`/api/places/find/${$selectedPlace.placeId}`);
      const placeWithMemories = await res.json();
      console.log(placeWithMemories[0]);
      selectedPlace.update(n => placeWithMemories[0]);
    }
    
    // Calculate closeYear:
    closeYear = $selectedPlace.closeDate
    ? new Date($selectedPlace.closeDate).getFullYear()
    : null;
  });

  

  function onNewMemoryButtonClick() {
    modalItem.update(n => "newMemory");
    // Don't reset selectedPlace here
  }

  function seeFullMemory(index) {
    selectedMemory.update(n => $selectedPlace.memories[index]);
    modalItem.update(n => "memory");
  }
  
  
</script>

<button class="text-button close-modal" on:click={closeModal}>
  Close
</button>

{#if $selectedPlace.name}
<div>
  <h2>{$selectedPlace.name}</h2>
  <h3>
    {#if $selectedPlace.openYear || closeYear }
      {#if $selectedPlace.openYear}
        {$selectedPlace.openYear} -
      {:else}
        Unknown -
      {/if}
      {#if closeYear}
        {closeYear}
      {:else}
        Unknown
      {/if}
    {/if}
  </h3>
  <p>
    {$selectedPlace.address}<br />
    {$selectedPlace.city}
  </p>

  <Button label={'New Memory'} type={'create'} onClick={onNewMemoryButtonClick}
  /> {#if $selectedPlace.memories}
  <ul>
    {#each $selectedPlace.memories as memory, index}
    <li>
      <p>{memory.body} <span class="text-button" on:click="{() => seeFullMemory(index)}">Read More</span></p>
      <p>
        - {#if memory.author}{memory.author}{:else}Anonymous{/if} {memoryTimestamp(memory)}
      </p>
    </li>
    {/each}
  </ul>
  {/if}
</div>
{/if}

<style>
  
</style>
