<script>
  import { beforeUpdate } from "svelte";
  import { modalItem, selectedPlace, selectedMemory } from "../../stores.js";

  import Button from "../Button.html";
  
  import shortBody from "../../helpers/shortBody.js";
  import api from "../../helpers/api.js";

  export let closeModal;
  export let memoryTimestamp;
  let closeYear;

  beforeUpdate(async () => {
    console.log("beforeUpdate");
    
    // Get place details:
    if (!$selectedPlace.name) {
      const placeWithMemories = await api.getPlace($selectedPlace.placeId)
      placeWithMemories.memories.map(i => shortBody(i));
      selectedPlace.update(n => placeWithMemories);
    }
    
    // Calculate closeYear:
    closeYear = $selectedPlace.closeDate
    ? new Date($selectedPlace.closeDate).getFullYear()
    : null;
  });

  

  function onNewMemoryButtonClick() {
    modalItem.update(n => "newMemory");
    // Don't reset selectedPlace here
  }

  function seeFullMemory(index) {
    selectedMemory.update(n => $selectedPlace.memories[index]);
    modalItem.update(n => "memory");
  }
  
  
</script>

<button class="text-button close-modal" on:click={closeModal}>
  Close
</button>

{#if $selectedPlace.name}
<div>
  <h2>{$selectedPlace.name}</h2>
  <h3>
    {$selectedPlace.category}
  </h3>
  <h4>
    {#if $selectedPlace.openYear || closeYear }
      {#if $selectedPlace.openYear}
        {$selectedPlace.openYear} -
      {:else}
        Unknown -
      {/if}
      {#if closeYear}
        {closeYear}
      {:else}
        Unknown
      {/if}
    {/if}
  </h4>
  <p>
    {$selectedPlace.address}<br />
    {$selectedPlace.city}
  </p>

  <Button label={'New Memory'} type={'create'} onClick={onNewMemoryButtonClick}
  /> {#if $selectedPlace.memories}
  <ul>
    {#each $selectedPlace.memories as memory, index}
    <li>
      <p>{memory.shortBody}
        {#if memory.body.length > 240}
          <span class="text-button" on:click="{() => seeFullMemory(index)}">Read More</span>
        {/if}
      </p>
      <p>
        - {#if memory.author}{memory.author}{:else}Anonymous{/if} {memoryTimestamp(memory)}
      </p>
    </li>
    {/each}
  </ul>
  {/if}
</div>
{/if}

<style>
  
</style>
