<script>
  export let label;
  export let type;
  export let onClick;
</script>

<button class="button {type}" on:click|preventDefault={onClick}>{label}</button>

<style>
  .button {
    z-index: 2;
    position: absolute;
    bottom: 40px;
    right: 20px;
    border: 2px solid black;
    padding: 5px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 3px;
    display: inline-block;
  }
  
  .create {
    background-color: #fe3d89;
  }
  
  .create:hover {
    background-color: #d93476;
  }
  
  .cancel {
    background-color: #efefef;
  }
  
  .cancel {
    background-color: #dfdfdf;
  }
  
  
</style>
