<script>
  import { form } from '../stores.js';
  import NewPlaceForm from './forms/NewPlace.html';
  
  export let drawPlace
  
  function closeForm() {
    form.update(n => null);
  }
  
</script>

{#if $form}
<div id="form-container">
  {#if $form === 'newPlace'}
  <NewPlaceForm
    closeForm={closeForm}
    drawPlace={drawPlace}
  />
  {/if}
</div>
{/if}

<style>
  #form-container {
    position: absolute;
    top: 0;
    left: 0;
    width: Calc(100vw - 40px);
    height: Calc(100vh - 40px);
    margin: 20px;
    padding: 20px;
    border: 2px solid #444;
    background-color: white;
    border-radius: 5px;
    z-index: 5;
  }
  
  :global(label), :global(input) {
    display: block;
    font-size: 16px;
  }
  
  
</style>
