<script>
  import { modalItem, selectedPlace } from '../stores.js';
  
  // subcomponents
  import NewMemoryForm from './modals/NewMemory.html';
  import NewPlaceForm from './modals/NewPlace.html';
  import PlaceInfo from './modals/PlaceInfo.html';
  
  export let drawPlace
  
  const displayPlaceInfo = '';
  
  function closeForm() {
    modalItem.update(n => null);
  }
  
</script>

{#if $modalItem}
  <div id="modal-container">
    
    {#if $modalItem === 'newPlace'}
      <NewPlaceForm
        closeForm={closeForm}
        drawPlace={drawPlace}
      />
    {:else if $modalItem === 'newMemory'}
      <NewMemoryForm
        closeForm={closeForm}
      />
    {/if}
  
    {#if $modalItem === 'selectedPlace' && $selectedPlace}
      <PlaceInfo

      />
    {/if}
  
  </div>
{/if}

<style>
  #modal-container {
    z-index: 100;
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: #eee;
    border: 2px solid black;
    padding: 10px;
    margin: 20px;
    width: Calc(100vw - 40px);
    max-width: 600px;
    min-height: 400px;
  }
  
  :global(label), :global(input) {
    display: block;
    font-size: 18px;
    line-height: 20px;
  }
  
  
</style>
