<script>
  
  import { afterUpdate } from "svelte";
  
  export let selectSearchResult;
  export let searchResults;
  export let searchField;
  
  const nameTop = "122px";
  
  let top = "30px";
  
  afterUpdate(() => {
  
    if (searchField) {
      const modalContainer = document.getElementById('modal-container');
      const placeNameField = document.getElementById('place-name-field');
      const placeAddressField = document.getElementById('place-address-field');
      var rect;
      if (searchField === 'place-name-field') {
        rect = placeNameField.getBoundingClientRect();
      } else {
        rect = placeAddressField.getBoundingClientRect();
      }
      var mcRect = modalContainer.getBoundingClientRect();
      console.log("RECT:");
      console.log(rect);
      top = '' + (rect.bottom - mcRect.top) + 'px';
    }
  });
  
  

</script>

{#if searchResults && searchResults.length > 0}
<div id="search-results" style="top: {top}">
  <ul class="search-results-list">
    {#each searchResults as result, i }
      <li class="search-result" on:click="{() => selectSearchResult(result)}">
        <h5>
          {result.name}
        </h5>
        <ul>
          <li>{result.category}</li>
          <li>{result.address}</li>
        </ul>
      </li>
    {/each}
  </ul>
</div>
{/if}

<style>
  
  #search-results {
    position: absolute;
    /* top: inline to use variables */
    left: 0;
    background-color: white;
    width: Calc(100% - 10px);
    border: 1px solid #fe3d89;
    border-radius: 0 5px;
    margin: 5px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  li.search-result {
    padding: 2px 10px 5px;
    cursor: pointer;
  }
  
  li.search-result:hover {
    background-color: #EEF;
  }


</style>