* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Ariel', sans-serif;
}

#map {
  height: 100vh;
  flex: 0 0 60%;
  z-index: 1;
  cursor: default;
}

.debug {
  background-color: pink;
  color: purple;
  z-index: 100;
  border: 3px solid green;
  padding: 10px;
  position: absolute;
  bottom: 10px;
  left: 10px;
  max-width: 70vw;
  display: none;
}
  