<script>
  import Button from '../Button.html';
  
  import fetchOptions from '../../helpers/fetchOptions.js';
  let place = {state: 'NY'};
  async function submitForm() {
    const url = '/api/places/new';
    const options = Object.assign({body: JSON.stringify(place)}, fetchOptions.post);
    var response = await fetch(url, options);
    const responseJson = await response.json();
    console.log(JSON.stringify(responseJson));
    return responseJson;
  }
  
  
</script>

<div id="new-place-form">
  <h1>
    New Place
  </h1>
  <form>
    <label>Name:</label>
    <input bind:value={place.name} type="text" autocomplete="off" />
    <label>Address:</label>
    <input bind:value={place.address} type="text" autocomplete="off" />
    <label>City:</label>
    <input bind:value={place.city} type="text" autocomplete="off" />
    <label>State:</label>
    <input bind:value={place.state} type="text" autocomplete="off" />
    <label>Zip:</label>
    <input bind:value={place.zip} type="text" autocomplete="off" />
    <label>Year Opened:</label>
    <input bind:value={place.openYear} min="1800" max="2020" type="number" autocomplete="off" />
    <label>Date Closed:</label>
    <input bind:value={place.closeDate} type="date" autocomplete="off" />
    <Button label={"save"} onClick={submitForm} />
  </form>
</div>


<style>


</style>